.footer-socials {
  height: auto;
  margin: auto;
  width: 210px;
}
a:not(.nav-link).waves-effect,
a:not(.nav-link).waves-light {
  margin: 0px;
  margin-left: 4px;
}
footer .fiverr {
  width: inherit;
  color: white;
}
p {
  font-size: 14px;
}